
<div>
  <img src="https://fastly.picsum.photos/id/554/200/200.jpg?hmac=wvBDWVN6iXLUYv4DYpQ9fWSg_2y3dCYyzy4N_6H26pY">

  <a target="_blank" href="http://paulgraham.com/startupideas.html">
    How to Get Startup Ideas
  </a>
</div>

<div>
  <img src="https://fastly.picsum.photos/id/388/200/200.jpg?hmac=yc4V5jCOMR-l634JzXmANfvSGFGgYWHQN4aKA69RvZo">

  <a target="_blank" href="https://practicaltypography.com/typography-in-ten-minutes.html">
    Typography in ten minutes
  </a>
</div>
